<% include ./partials/_header %>
    <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">HOME</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/skills">SKILLS</a></li>
        <li><a href="/projects">PROJECTS</a></li>
      </ul>
    </div>
  </nav>
  <div id="skills">
    <h3>Languages</h3>
    <ul>
      <li>JAVASCRIPT</li>
      <li>RUBY</li>
      <li>HTML</li>
      <li>CSS</li>
    </ul>
  </div>

  <div id="frame">
    <h3>Frameworks and Libraries</h3>
    <ul>
      <li>Node.js</li>
      <li>React.js</li>
      <li>Ruby-on-Rails</li>
      <li>Express</li>
      <li>Materialize</li>
      <li>Jquery</li>
      <li>Bootstarp</li>
    </ul>
  </div>

  <div id="tech">
    <h3>Technologies</h3>
    <ul>
      <li>Git version control</li>
      <li>AJAX</li>
      <li>TDD</li>
      <li>MVC pattern</li>
      <li>REST</li>
      <li>Chrome dev tools</li>
      <li>Web-sockets</li>
      <li>Data-modelling</li>
      <li>Webpack</li>
    </ul>
  </div>

  <div id="data">
    <h3>Databases</h3>
    <ul>
      <li>Postgres</li>
      <li>MONGODB</li>
      <li>Mongoose</li>
      <li>Knex</li>
    </ul>
  </div>
  </body>
</html>
